$btnColor: #333;
$btnText: #ddd;
$maincolor: skyblue;
$titleTableColor: #222;
body {
  background-color: $maincolor;
}

a {
  text-decoration: none;
  color: $btnText;
}
button {
  background: $btnColor;
  color: $btnText;
  border-radius: 25px;
  width: 10rem;
  &:hover {
    cursor: pointer;
  }
}

table {
  thead,
  th {
    background: $titleTableColor;
    color: $btnText;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: $btnColor;
        color: $btnText;
      }
    }
  }
}

form {
  display: flex;
  flex-flow: column nowrap;

  div {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 0.3rem;
    align-items: center;
    label {
      width: 10rem;
    }
    button {
      align-self: center;
    }
  }
}

.show {
  display: flex;
  flex-flow: row nowrap;
}
