$btnColor: #333;
$btnText: #ddd;
$maincolor: skyblue;
$titleTableColor: #222;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $maincolor;
  justify-items: center;
}

a {
  text-decoration: none;
  color: $btnText;
}
button {
  background: $btnColor;
  color: $btnText;
  border-radius: 25px;
  width: 10rem;
  &:hover {
    cursor: pointer;
  }
}

header {
  width: 100vh;
  nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      li {
        a {
          font-size: larger;
        }
      }
    }
  }
}

table {
  thead,
  th {
    background: $titleTableColor;
    color: $btnText;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: $btnColor;
        color: $btnText;
      }
    }
  }
}

form {
  display: flex;
  flex-flow: column nowrap;

  div {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 0.3rem;
    align-items: center;
    label {
      width: 10rem;
    }
    button {
      align-self: center;
    }
  }
}

.show {
  display: flex;
  flex-flow: row nowrap;
}
