{% block menu %}
	<header>
		<nav>
			<ul>
				<li>
					<a href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li>
					<a href="{{path('app_login')}}">Se connecter</a>
				</li>
				<li>Réservation</li>
				<li>Films</li>
				<li>Contact</li>
			</ul>
		</nav>
	</header>
{% endblock %}
